@inject PlayerService PlayerService
<div class="container-fluid py-3 px-4 bg-dark rounded-3 shadow-lg">
    <div class="row g-3">
        <FloorCounter />
        <EnemyCounter />
    </div>
</div>

@code {
}
