@inject PlayerService PlayerService
<div class="row">
    <FloorCounter />
    <EnemyCounter />
</div>
<div class="row">
    <button class="btn btn-primary" @onclick="PlayerService.AddFloor">
        Next Floor
    </button>
    <button class="btn btn-primary" @onclick="PlayerService.AddEnemy">
        Add Enemy
    </button>
    <button class="btn btn-primary" @onclick="PlayerService.ResetEnemy">
        Reset Enemy
    </button>
</div>

@code {


}
