<div class="row m-1">
    <div class="col">
        <img src="images/armors/starter.png" alt="Armor" class="armor-image" />
    </div>
    <div class="col">
        <div class="row"><h4>Starter Armor</h4></div>
        <div class="row"><h4>Damage Multiplier: 1</h4></div>
    </div>
</div>


<style >
    .armor-image {
        width: 100px;
        height: 100px;
    }
</style>

@code {
    
}
