<div class="row m-1">
    <div class="col">
        <img src="images/weapons/poor/p1.png" alt="Weapon" class="weapon-image" />
    </div>
    <div class="col">
        <div class="row"><h4>Starter Weapon</h4></div>
        <div class="row"><h4>Weapon Damage: 10</h4></div>
    </div>
</div>


<style>
    .weapon-image {
        width: 100px;
        height: 100px;
    }
</style>

@code {
    
}
