@inject PlayerService PlayerService
@implements IDisposable

<div class="row m-1">
    <div class="col">
        <img src="@PlayerService.PlayerWeaponImage" alt="Weapon" class="weapon-image"/>
    </div>
    <div class="col">
        <div class="row">
            <h4>@PlayerService.PlayerWeaponName</h4>
        </div>
        <div class="row">
            <h4>Weapon Damage: @HelperFunctions.FormatNumberCompact(PlayerService.PlayerWeaponDamage)</h4>
        </div>
    </div>
</div>


<style>
    .weapon-image {
        width: 100px;
        height: 100px;
    }
</style>

@code {

    protected override void OnInitialized()
    {
        PlayerService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        PlayerService.OnChange -= StateHasChanged;
    }

}
