@inject PlayerService PlayerService
@inject ArmorService ArmorService
@inject BattleService BattleService
@implements IDisposable

<div class="row m-1">
    <div class="col">
        <img src="@PlayerService.PlayerArmorImage" alt="Armor" class="armor-image"/>
    </div>
    <div class="col">
        <div class="row">
            <h4>@PlayerService.PlayerArmorName</h4>
        </div>
        <div class="row">
            <h4>Damage Multiplier: @PlayerService.ArmorMultiplier</h4>
        </div>
        <div class="row">
            <button class="btn btn-primary" disabled="@(BattleService.PurchasableArmor == null)" @onclick="BattleService.PurchaseArmor">Upgrade Armor</button>
        </div>
    </div>
</div>


<style >
    .armor-image {
        width: 100px;
        height: 100px;
    }
</style>


@code {

    protected override void OnInitialized()
    {
        PlayerService.OnChange += StateHasChanged;
        ArmorService.OnChange += StateHasChanged;
        BattleService.OnChange += StateHasChanged;
    }


    public void Dispose()
    {
        PlayerService.OnChange -= StateHasChanged;
        ArmorService.OnChange -= StateHasChanged;
        BattleService.OnChange -= StateHasChanged;
    }


}
