<script setup></script>

<template>
    <button class="btn btn-dark m-3">
        <img src="images/ui/attack-button.png" alt="Attack Button" class="attack-button" />
    </button>
</template>

<style >
    .attack-button {
        width: 150px;
        height: 150px;
    }
</style>

@code {
    
}
