@inject PlayerService PlayerService
@inject EnemyService EnemyService
@implements IDisposable

<button class="btn btn-dark m-3" @onclick="EnemyService.ManualAttack"
        disabled="@(EnemyService.EnemyCurrentHp < PlayerService.PlayerWeaponDamage)">
    <img src="images/ui/attack-button.png" alt="Attack Button" class="attack-button"/>
</button>

<style >
    .attack-button {
        width: 150px;
        height: 150px;
    }
</style>

@code {

    protected override void OnInitialized()
    {
        PlayerService.OnChange += StateHasChanged;
        EnemyService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        PlayerService.OnChange -= StateHasChanged;
        EnemyService.OnChange -= StateHasChanged;
    }

}
