@inject PlayerService PlayerService
@inject NavigationManager NavigationManager
@implements IDisposable
@page "/"

@if (PlayerService.CurrentFloor == 101)
{
    NavigationManager.NavigateTo("/GameEnd");
}
else
{
    <MainGame/>
    <div class="row m-2">
        <div class="col">
            <h3>Upgrades:</h3>
        </div>
    </div>
    <div class="row m-2">
        <Upgrades/>
    </div>
}


@code {

    protected override void OnInitialized()
    {
        PlayerService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        PlayerService.OnChange -= StateHasChanged;
    }

}
