<div :style="backgroundImageStyle">
    <StageContainer />
    <div class="row">
        <div class="col">
            <PlayerStats />
        </div>
        <div class="col">
            <AttackButton />
        </div>
        <div class="col">
            <EnemyStats />
        </div>
    </div>
</div>

@code {
    
}
