@inject PlayerService PlayerService
@implements IDisposable
<div class="background-image">
    <StageContainer />
    <div class="row">
        <div class="col">
            <PlayerStats />
        </div>
        <div class="col">
            <AttackButton />
        </div>
        <div class="col">
            <EnemyStats />
        </div>
    </div>
</div>
<div class="row">
    <button class="btn btn-primary" @onclick="() => PlayerService.AddXpMinMax(5,8)">Add Random XP</button>
    <button class="btn btn-primary" @onclick="() => PlayerService.AddXp(20)">Add Flat XP</button>
    <button class="btn btn-primary" @onclick="PlayerService.SetBackgroundImage">Set Background</button>
</div>

<style>
    .background-image {
        background-image: @PlayerService.BackgroundImage;
        background-size: cover;
        background-position: center;
    }
</style>

@code {
    protected override void OnInitialized()
    {
        PlayerService.SetBackgroundImage();
        PlayerService.OnChange += StateHasChanged;
    }


    public void Dispose()
    {
        PlayerService.OnChange -= StateHasChanged;
    }
}
