@inject PlayerService PlayerService
@inject BattleService BattleService
@inject ArmorService ArmorService

@implements IDisposable
<div class="background-image text-white">
    <StageContainer/>
    <div class="row">
        <div class="col">
            <PlayerStats/>
        </div>
        <div class="col">
            <AttackButton/>
        </div>
        <div class="col">
            <EnemyStats/>
        </div>
    </div>
</div>

<style>
    .background-image {
        background-image: @PlayerService.BackgroundImage;
        background-size: cover;
        background-position: center;
    }
</style>

@code {

    protected override void OnInitialized()
    {
        PlayerService.SetBackgroundImage();
        BattleService.StartBattle();
        PlayerService.OnChange += StateHasChanged;
        BattleService.OnChange += StateHasChanged;
    }


    public void Dispose()
    {
        PlayerService.OnChange -= StateHasChanged;
        BattleService.OnChange -= StateHasChanged;
    }

}
